@import '../../public/app-assets/backend/fonts/line-awesome/css/line-awesome.min.css';
@import '../../public/app-assets/backend/vendors/css/forms/toggle/bootstrap-switch.min.css';
@import '../../public/app-assets/backend/vendors/css/forms/toggle/switchery.min.css';
@import '../../public/app-assets/backend/vendors/css/forms/selects/select2.min.css';
@import '../../public/app-assets/backend/vendors/css/tables/datatable/datatables.min.css';
@import '../../public/app-assets/backend/vendors/css/tables/extensions/buttons.dataTables.min.css';
@import '../../public/app-assets/backend/vendors/css/ui/jquery-ui.min.css';
@import '../../public/app-assets/backend/css/plugins/forms/switch.min.css';
@import '../../public/app-assets/backend/css/core/colors/palette-switch.min.css';
@import '../../public/app-assets/backend/css/plugins/loaders/loaders.min.css';
@import '../../public/app-assets/backend/css/plugins/ui/jqueryui.css';
@import '../../public/app-assets/backend/css/plugins/animate/animate.min.css';
@import '../../public/app-assets/backend/css/fontawesome-all.min.css';
@import '../../public/app-assets/backend/customs/css/style.css';

.sf-dump
{
    direction: ltr;
    text-align: left;
    margin: 0;
    font-family: unset;
}
